/* Version tablette et desktop */
 @media all and (min-width: 426px )   {
     .bloc-one

     {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-sec-one
        {
            width: initial!important;
            padding-left: 0px!important;
        }
        .sous-title-sec-one
        {
            width: 90%!important;
        }
     }





     .bloc-two
     {
         display: flex;
         flex-direction: column;
         align-items: center;
      ul {

         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;

  }   
 }

 #restaurant
 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    article 
    {
            width: 80%;
            &:hover
            {
                transform: scale(1.05);
                transition: 300ms;
            }


    }
    img 
    {
        width: 100%;
    }
 }
  
   } 

   @media all and (min-width: 768px)
 {
      

     footer
   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

    .ul-foot
    {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       align-items: flex-start;
    }


 }

   @media all and (min-width: 1200px)
   {
       main 
       {
           height: 800px!important;
           position: relative;
       }
 #restaurant
 {
   
   flex-direction: row;

   .title-sec-tree
   {
       position: absolute;
       top: 0px;
       left: 500px;
   }
   article 
   {
    width: 45%;
    margin-top: 100px;

   }
 }
   }