@import 'libs/import/import_style.scss';

/* Gestion de la page 1 */

/* LOADER */
.loader
{
    animation: loader 4s cubic-bezier(0, 0, 0.13, -0.83);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .load_spin
        {
            margin: auto;
            border-top: 4px solid #0F9DE8;
            border-right: 4px solid #F0C300;
            border-bottom: 4px solid #FF0000;
            border-left: 4px solid #800080;
            border-radius: 50%;
            z-index: 101;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            width: 200px;
            height: 200px;
            opacity: 0;
            animation: spin 4s ;
        }
        .load_spin_two
        {
            margin: auto;
            border-top: 4px solid #0F9DE8;
            border-right: 4px solid #F0C300;
            border-bottom: 4px solid #FF0000;
            border-left: 4px solid #800080;
            border-radius: 50%;
            z-index: 101;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            width: 100px;
            height: 100px;
            opacity: 0;
            animation: spin_two 4s ;
        }
       
         @keyframes spin_two {
            1%{
                opacity: 1;
                transform: rotate(0deg) scale(1.30);
                
            }
            100%{
                transform: rotate(720deg) scale(1);
                opacity: 0;
            }
            
        }
        @keyframes spin {
            1%{
                opacity: 1;
                transform: rotate(0deg) scale(1);
                
            }
            
            100%{
                transform: rotate(360deg) scale(1.50);
                opacity: 0;
            }
            
        }
   
         
    @keyframes loader {

        1%{ 
            background: rgba(46, 46, 179, 0.815);
           
        }
        15% {
            opacity: 1;
        }
       
        60%{
           opacity: 0.6;
        }
        75% {
            opacity: 0.4;
        }
        
        85%{
            opacity: 0.3;
        }
        95%{
            opacity: 0.2;
          
        }
       100% {
            opacity: 0;
             
        }

    }

}
 .load_h2
        {
           
            font-size: 40px;
            z-index: 100;
            position: fixed;
            color: transparent;
            font-family: 'Comforter';
            font-weight: bold;
            top: 150px;
            text-align: center;
            
            margin: auto;
            animation: h2_load 3s cubic-bezier(0.075, 0.82, 0.165, 1) ;
            

            @keyframes h2_load {
                1%{

                    color: red;

                    
                }
                10%{
                    color: yellow;
                    transform: translateX(50px) ;
                }
                20%{
                    color: pink;
                }
                30%{
                    color: white;
                    transform: translateX(-50px);
                }
                40%{
                    color: #000000;
                    
                    
                }
                50%{
                    color: rgb(110, 110, 108);
                    transform: scale(1.5)  ;
                    
                }
                60%{
                    color: peachpuff;
                    transform: scale(1.6) translateX(0);
                    
                    
                }
                70%{
                    color: rgb(235, 235, 235);
                    opacity: 1;
                    

                }
                80%{
                    color: royalblue;
                    
                
                
                }
                90%{
                    color: black;
                    
                }
                100%{
                    opacity: 0;
                    
                }
            }
        }




/* Formulaire de recherche */
form
{
   height: 50px;
   background: #e1dddd;
   border-top: 2px solid #00000017!important;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
      .text-localisation
    {
         border: hidden;
         background: #e1dddd;
         font-size: 1rem;
         font-weight:bold;
     }
      .fas.fa-map-marker-alt
     {
         padding-right: 10px;
         padding-bottom: 5px;
         padding-left: 40px;
     }
     
}
/* Fin du formulaire de recherche */

/* Gestion de la première section  */
.bloc-one
{
    background: #f2f2f2;
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;

      div
     {
        text-align: center;
        margin-top: 20px;
         .title-sec-one
        {
           font-family:'Roboto';
           margin-top: 30px;
           padding-bottom: 10px;
           padding-left: 55px;
           font-size: 1.6rem;
           font-weight: bold;
           width: 70%;

        }
         .sous-title-sec-one
        {
           font-family: 'Roboto';
           font-size: 1.2rem;
           padding-left: 40px;
           width: 80%;   

     }

        a 
         {
            text-align: center;
            
          span
         {
            @include button;
            padding: 15px 15px;

            
            
            
        }
    }
  }
}
/* Fin de la 1ère section */

/* Création d'une extension pour la section 2  */
.card-fonctionnement
{
    padding: 20px 40px;
    padding-left: 0px;
    margin-bottom: 20px;
    margin-left: 30px;
    background-color: #f4f4f4;
    box-shadow: 0px 5px 10px 0px rgb(194 194 194 / 78%);
    width: 330px;
    border-radius: 15px / 15px;

    &:hover
    {
        background: #e4d5f6;
        cursor: pointer;
    }
    

}



/* Début de la 2ème section */
.bloc-two
  {
   .title-sec-two
   {
       font-family: 'Roboto';
       font-size: 1.3rem;
       margin: 40px 0px 20px 20px;
       font-weight: bold;
   }
   .li-sec
   {
       position: relative;
       @extend .card-fonctionnement

    
   }
    .title-sec-fonc
    { 
           font-family:'Roboto';
           margin-top: 30px;
           margin-bottom: 15px;
           padding-bottom: 10px;
           padding-left: 30px;
           font-size: 1.3rem;
           font-weight: bold;
    }

    .fas.fa-mobile-alt,.fas.fa-list-ul,.fas.fa-store
       {
        padding: 0px 35px;
        padding-right: 20px;
        color: #939393;;
        font-size: 20px;
       }
       .fas.fa-mobile-alt
       {
           padding-left: 40px;
       }

    .number-one-sec-two
    {
     position: absolute;
     left: -10px;
     color: white;
     padding: 5px 8px;
     border-radius: 50%;
     background-color: #9356DC;
    }

    .text-li-sec-two
    {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 1rem;
    }
  }
/* Fin de la section 2 */

/* Main == BACKGROUND COLOR AND MARGING */
main
{
    margin-top: 40px;
    height: 1220px;
    background: #f2f2f2;
}
/* Début section 3 */

.title-sec-tree
{
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Roboto';
    padding-top: 40px;
    padding-left: 20px;
}

 
  article 
{
    @include card-restaurant;
    
}




/* Fin de la première page  */



   