@import 'libs/import.scss';

/* Gestion de la page 1 */

/* Formulaire de recherche */
form
{
   height: 50px;
   background: #e1dddd;
   border-top: 2px solid #00000017!important;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
      .text-localisation
    {
         border: hidden;
         background: #e1dddd;
         font-size: 1rem;
         font-weight:bold;
     }
      .fas.fa-map-marker-alt
     {
         padding-right: 10px;
         padding-bottom: 5px;
         padding-left: 40px;
     }
}
/* Fin du formulaire de recherche */

/* Gestion de la première section  */
.bloc-one
{
    background: #f2f2f2;
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;

      div
     {
        text-align: center;
        margin-top: 20px;
         .title-sec-one
        {
           font-family:'Roboto';
           margin-top: 30px;
           padding-bottom: 10px;
           padding-left: 55px;
           font-size: 1.6rem;
           font-weight: bold;
           width: 70%;

        }
         .sous-title-sec-one
        {
           font-family: 'Roboto';
           font-size: 1.2rem;
           padding-left: 40px;
           width: 80%;   

     }

        a 
         {
            text-align: center;
            
          span
         {
            @include button;
            padding: 20px 10px;
            
        }
    }
  }
}
/* Fin de la 1ère section */

/* Création d'une extension pour la section 2  */
.card-fonctionnement
{
    padding: 20px 40px;
    padding-left: 0px;
    margin-bottom: 20px;
    margin-left: 30px;
    background-color: #f4f4f4;
    box-shadow: 0px 5px 10px 0px rgb(194 194 194 / 78%);
    width: 330px;
    border-radius: 15px / 15px;

    &:hover
    {
        background: #e4d5f6;
        cursor: pointer;
    }
    

}



/* Début de la 2ème section */
section
  {
   .title-sec-two
   {
       font-family: 'Roboto';
       font-size: 1.3rem;
       margin: 40px 0px 20px 20px;
       font-weight: bold;
   }
   .li-sec
   {
       @extend .card-fonctionnement

    
   }
    .title-sec-fonc
    { 
           font-family:'Roboto';
           margin-top: 30px;
           margin-bottom: 15px;
           padding-bottom: 10px;
           padding-left: 30px;
           font-size: 1.3rem;
           font-weight: bold;
           width: 70%;
    }

    .fas.fa-mobile-alt,.fas.fa-list-ul,.fas.fa-store
       {
        padding: 0px 35px;
        padding-right: 20px;
        color: #939393;;
        font-size: 20px;
       }
       .fas.fa-mobile-alt
       {
           padding-left: 40px;
       }

    .number-one-sec-two
    {
     position: absolute;
     left: 18px;
     color: white;
     padding: 5px 8px;
     border-radius: 50%;
     background-color: #9356DC;
    }
    .number-two-sec-two
    {
     position: absolute;
     left: 18px;
     color: white;
     padding: 5px 8px;
     border-radius: 50%;
     background-color: #9356DC;
    }
    .number-tree-sec-two
    {
    position: absolute;
     left: 18px;
     color: white;
     padding: 5px 8px;
     border-radius: 50%;
     background-color: #9356DC;
    }
    .text-li-sec-two
    {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 1rem;
    }
  }
/* Fin de la section 2 */

/* Main == BACKGROUND COLOR AND MARGING */
main
{
    margin-top: 40px;
    height: 1220px;
    background: #f2f2f2;
}
/* Début section 3 */

.title-sec-tree
{
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Roboto';
    padding-top: 40px;
    padding-left: 20px;
}

 
  article 
{
    @include card-restaurant;
    
}




/* Fin de la page one  */

 
