/* IMPORT DE TOUTES LES FICHIERS SCSS DU PROJET */
@import 'libs/import.scss';


/* Gestion de la page 1 */
.home {
/* Formulaire de recherche */
form
{
   height: 50px;
   background: $back-form;
   border-top: $border-form!important;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
      & .text-localisation
    {
         border: hidden;
         background: $back-form;
         font-size: 1rem;
         font-weight:bold;
     }
      & .fas.fa-map-marker-alt
     {
         padding-right: 10px;
         padding-bottom: 5px;
         padding-left: 40px;
     }
     
}
/* Fin du formulaire de recherche */

/* Gestion de la première section  */
.bloc-one
{
    background: #f2f2f2;
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;

    & div
     {
        text-align: center;
        margin-top: 20px;
         & h2
        {
           font-family:'Roboto';
           margin-top: 30px;
           padding-bottom: 10px;
           padding-left: 55px;
           font-size: 1.6rem;
           font-weight: bold;
           width: 70%;

        }
         & h3
        {
           font-family: 'Roboto';
           font-size: 1.2rem;
           padding-left: 40px;
           width: 80%;   

        }
         & a 
         {
            text-align: center;     
         & span
         {
            @include button;
            padding: 15px 15px;  
         }
    }
  }
}
/* Fin de la 1ère section */

/* Début de la 2ème section */
.bloc-two
  {
   & li
   {
       position: relative;
       @extend .card-fonctionnement
   }
    & h2
    { 
           font-family:'Roboto';
           margin-top: 30px;
           margin-bottom: 15px;
           padding-bottom: 10px;
           padding-left: 30px;
           font-size: 1.3rem;
           font-weight: bold;
    }
    
   & .fas.fa-mobile-alt,.fas.fa-list-ul,.fas.fa-store
       {
        padding: 0px 35px;
        padding-right: 20px;
        color: $color-icone_fonc;
        font-size: 20px;
       }
       .fas.fa-mobile-alt
       {
           padding-left: 40px;
       }

   &__number-one-sec-two
    {
     position: absolute;
     left: -10px;
     color: white;
     padding: 5px 8px;
     border-radius: 50%;
     background-color: $back-number-fonc;
    }

   & span
    {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 1rem;
    }
  }
/* Fin de la section 2 */

/* Main == BACKGROUND COLOR AND MARGING */
main
{
    margin-top: 40px;
    height: 1220px;
    background: $back-grey;
}

/* Début section 3 */

/* Gestion du H2 de l'id RESTAURANT */
#restaurant
{

    & h2
  {
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Roboto';
    padding-top: 40px;
    padding-left: 20px;
  }
}
    /* Gestion de tout les articles de la page(index)  */
    .article-one, .article-two  {
     position: relative;
     border-radius: 10px / 10px;
     margin-left: 25px;
     margin-top: 20px;
     width: 375px;
     border: 1px solid $back-grey;
     background: white;
     height: 250px;

    & img
    {
        width: 375px;
        border-radius: 10px / 10px;
        height: 180px;
        object-fit: cover;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    & span
    {
        position: absolute;
        top: 10px;
        right: 5px;
        color: $news-button-color;
        padding: 5px 10px;
        background: $news-button-back;
        border-radius: 5px / 5px;
        
    }

    /* Ajout de la mixin pour le h3 (valeur ajoutée dans les parenthèses (margin-top) */
    &__text-h3-one
    {
        @include h3__article(10px)
    }

    &__text-h3-two
    {
        @include h3__article(15px)
    }
    /* Fin de la mixin */
    
    & h4 
    {
    
        font-family: 'Roboto';
        margin-left: 10px;
        margin-top: 5px;
        font-size: 1rem;
    }
      & .far.fa-heart
    {
        font-size: 30px;
        color: red;
    

        &:hover
        {
            content: "\f004"; 
            font-weight: bold;
            background-color: red; 
            transition-duration: 800ms;
            transform: rotate(360deg);
                
        }
    
    }
   &__card-tp
   {
    position: absolute;
    font-size: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 1;
   }
   
   &__heart-active

   {
       z-index: 2;
       position: absolute;
       bottom: 20px;
       right: 10px;
       
       &:hover
       {
           color: $heart-color_hover;
       }
    }
 }

 /* Version tablette et desktop de l'index */

/* Début du mediaqueries 426px */
 @media all and (min-width: 426px )   {

  /* Gestion de la section one  */
     .bloc-one

     {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2
        {
            width: initial!important;
            padding-left: 0px!important;
        }
        & h3
        {
            width: 90%!important;
        }
     }
      /* Fin de la section one */

      /* Gestion de la section two  */
     .bloc-two
     {
         display: flex;
         flex-direction: column;
         align-items: center;

         & h2
         {
           padding-left: 0px!important;
         }
         & ul {

         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         }   
     }
       /* Fin de la section two  */

       /* Début de la section principal */
 #restaurant
 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    .article-one , .article-two
    {
        width: 80%;

          &:hover
          {
                transform: scale(1.05);
                transition: 300ms;
          }
    }
          & img 
          {
               width: 100%;
          }
 }  
} 
/* Fin de la section principal */
/* Fin de la mediaqueries de 426px */

/* Début de la mediaqueries de 768px */
   @media all and (min-width: 768px)
 {
   
  /* Gestion du footer */
     footer
   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


    & ul
    {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       align-items: flex-start;
    }
  }
}
   /* Fin du footer */
   /* Fin de la mediaqueries 768px */

   /* Début de la mediaqueries de 1200px */
   @media all and (min-width: 1200px)
   {
     /* Début du main de la page */
      main 
       {
           height: 800px!important;
           position: relative;
       }
      
       /* Début de la section restaurant */
       #restaurant
       {
           flex-direction: row;

         & h2
         {
            position: absolute;
            top: 0px;
            left: 500px;
         }

         & .article-one , .article-two
         {
            width: 45%;
            margin-top: 100px;
         }
    }
   /* Fin du main */
 } 
/* Fin de la mediaqueries de 1200px */
}
/* Fin de la première page  */

/* Début de la seconde page */
.menus {


/* Début du main */
main
{
  opacity: 1;
    /* Gestion de la section principal */
  & .main__bloc
  {
    background-color: $back-grey;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    position: relative;
  }

  & p
  {
  & img
   {
    width: 100%;
    height: 250px;
    object-fit: cover;
   } 
  }
  /* Gestion de la div de la section principal */
   div 
    {
      position: relative;

      & h2 
      {
        font-family: 'Shrikhand';
        font-size: 1.7rem;
        padding-top: 40px;
        padding-left: 20px;
      }
      & .far.fa-heart
      {
        position: absolute;
        right: 30px;
        top: 40px;
        font-size: 30px;
        color: red;

        &:hover
        {
                content: "\f004"; 
                font-weight: bold;
                background-color: red; 
                cursor: pointer;  
                transition-duration: 800ms;
                transform: rotate(360deg);
      }
    }
    /* Fin de la div de la section principal */
  }
  /* Fin du main */
}

/* Gestion des articles de la pages  */
article
{
  & h3 
    {
        font-family: 'Roboto';
        font-size: 1rem;
        margin-left: 20px;
        margin-top: 20px;
        padding-bottom: 5px;
        border-bottom: $border-bottom ;
        width: 40px;
    }
   & ul
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    & li
    {
        position: relative;
        padding: 15px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-top: 10px;
        width: 80%;
        border-radius: 10px 10px;
        background: white;
        box-shadow: $box-shadow-menus-li;
        font-family: 'Roboto';
        font-size: 0.9rem;
        
        &:hover
        {
           color: white;
           cursor: pointer;
           background: $back-li-menus-hover;
        }
    }
    & h4 
    {
        font-family: 'Roboto';
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.1rem;
    }
    & span 
    {
        position: absolute;
        right: 15px;
        font-weight: bold;
    }    
}
/* Fin de la gestion des articles */


/* Gestion du Bouton commander */
p 
{
    text-align: center;

     & .button-valid
       {
         @include button;
         padding: 15px 40px;

       }
}
/* Fin du Bouton commander */

/* Fin du Main */

/* MQ PAGES MENUS */

 /* MQ de 768px */
@media all and (min-width: 768px)
 {
      
/* Gestion du footer */
     footer
   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
    ul 
   {
    display: flex;
    flex-direction: row!important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
 }
 /* Fin du footer */

}
/* Fin de la MQ de 768px */

/* Début de la MQ de 1200px  */
 @media all and (min-width: 1200px) {

   /* Gestion de la section principal */
       section 
       {
            display: flex;
            flex-direction: column;
       }
   
    .li-article
     {
         width: 25%!important;
     }

     /* Fin de la section principal */
 }
/* Fin de la MQ de 1200px  */
}
/* Fin de la page Menus */



   