/* IMPORT DE TOUTES LES FICHIERS SCSS DU PROJET */
@import 'libs/import/import_style.scss';


/* Gestion de la page 1 */

/* Formulaire de recherche */
form
{
   height: 50px;
   background: $back-form;
   border-top: $border-form!important;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
      & .text-localisation
    {
         border: hidden;
         background: $back-form;
         font-size: 1rem;
         font-weight:bold;
     }
      & .fas.fa-map-marker-alt
     {
         padding-right: 10px;
         padding-bottom: 5px;
         padding-left: 40px;
     }
     
}
/* Fin du formulaire de recherche */

/* Gestion de la première section  */
.bloc-one
{
    background: #f2f2f2;
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;

    & div
     {
        text-align: center;
        margin-top: 20px;
         & h2
        {
           font-family:'Roboto';
           margin-top: 30px;
           padding-bottom: 10px;
           padding-left: 55px;
           font-size: 1.6rem;
           font-weight: bold;
           width: 70%;

        }
         & h3
        {
           font-family: 'Roboto';
           font-size: 1.2rem;
           padding-left: 40px;
           width: 80%;   

        }
         & a 
         {
            text-align: center;     
         & span
         {
            @include button;
            padding: 15px 15px;  
         }
    }
  }
}
/* Fin de la 1ère section */

/* Début de la 2ème section */
.bloc-two
  {
   & li
   {
       position: relative;
       @extend .card-fonctionnement
   }
    & h2
    { 
           font-family:'Roboto';
           margin-top: 30px;
           margin-bottom: 15px;
           padding-bottom: 10px;
           padding-left: 30px;
           font-size: 1.3rem;
           font-weight: bold;
    }
    
   & .fas.fa-mobile-alt,.fas.fa-list-ul,.fas.fa-store
       {
        padding: 0px 35px;
        padding-right: 20px;
        color: $color-icone_fonc;
        font-size: 20px;
       }
       .fas.fa-mobile-alt
       {
           padding-left: 40px;
       }

   &__number-one-sec-two
    {
     position: absolute;
     left: -10px;
     color: white;
     padding: 5px 8px;
     border-radius: 50%;
     background-color: $back-number-fonc;
    }

   & span
    {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 1rem;
    }
  }
/* Fin de la section 2 */

/* Main == BACKGROUND COLOR AND MARGING */
main
{
    margin-top: 40px;
    height: 1220px;
    background: $back-grey;
}

/* Début section 3 */

/* Gestion du H2 de l'id RESTAURANT */
#restaurant
{

    & h2
  {
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Roboto';
    padding-top: 40px;
    padding-left: 20px;
  }
}
    /* Gestion de tout les articles de la page(index)  */
    .article-one, .article-two  {
     position: relative;
     border-radius: 10px / 10px;
     margin-left: 25px;
     margin-top: 20px;
     width: 375px;
     border: 1px solid $back-grey;
     background: white;
     height: 250px;

    & img
    {
        width: 375px;
        border-radius: 10px / 10px;
        height: 180px;
        object-fit: cover;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    & span
    {
        position: absolute;
        top: 10px;
        right: 5px;
        color: $news-button-color;
        padding: 5px 10px;
        background: $news-button-back;
        border-radius: 5px / 5px;
        
    }

    /* Ajout de la mixin pour le h3 (valeur ajoutée dans les parenthèses (margin-top) */
    &__text-h3-one
    {
        @include h3__article(10px)
    }

    &__text-h3-two
    {
        @include h3__article(15px)
    }
    /* Fin de la mixin */
    
    & h4 
    {
    
        font-family: 'Roboto';
        margin-left: 10px;
        margin-top: 5px;
        font-size: 1rem;
    }
      & .far.fa-heart
    {
        font-size: 30px;
        color: red;
    

        &:hover
        {
            content: "\f004"; 
            font-weight: bold;
            background-color: red; 
            transition-duration: 800ms;
            transform: rotate(360deg);
                
        }
    
    }
   &__card-tp
   {
    position: absolute;
    font-size: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 1;
   }
   
   &__heart-active

   {
       z-index: 2;
       position: absolute;
       bottom: 20px;
       right: 10px;
       
       &:hover
       {
           color: $heart-color_hover;
       }
   }
}

/* Fin de la première page  */



   