@import '../libs/import/import_menus.scss';


main
{
  .bloc-main
  {
    background-color: #f4f4f4;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    position: relative;
  }

  p
  {
    img
   {
    width: 100%;
    height: 250px;
    object-fit: cover;
   } 
  }
}

div 
{
    position: relative;

    h2 
    {
        font-family: 'Shrikhand';
        
        font-size: 1.7rem;
        padding-top: 40px;
        padding-left: 20px;
    }
    .far.fa-heart
    {
        position: absolute;
        right: 30px;
        top: 40px;
        font-size: 30px;
        color: red;

        &:hover
        {
                content: "\f004"; 
                font-weight: bold;
                background-image: linear-gradient(45deg, red); 
                cursor: pointer;  
                transition-duration: 800ms;
                transform: rotate(360deg);
        }
    }
}

section 
{
    h3 
    {
        font-family: 'Roboto';
        font-size: 1rem;
        margin-left: 20px;
        margin-top: 20px;
        padding-bottom: 5px;
        border-bottom: 3px solid #99E2D0;
        width: 40px;
    }
    ul
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    li
    {
        position: relative;
        padding: 15px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-top: 10px;
        width: 80%;
        border-radius: 10px 10px;
        background: white;
        box-shadow: 2px 2px 9px #0000003b;
        font-family: 'Roboto';
        font-size: 0.9rem;
    }
    h4 
    {
        font-family: 'Roboto';
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.1rem;
    }
    span 
    {
        position: absolute;
        right: 15px;
        font-weight: bold;
    }
    
}
p 
{
    text-align: center;

.button-valid
    {
     @include button;
     padding: 15px 40px;

    }
}

 