@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ol, li fieldset,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Bloc-page all version */
@media all and (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mobile-first-width {
  width: 425px;
}
@media all and (min-width: 426px) {
  .mobile-first-width {
    width: auto;
  }
}
@media all and (min-width: 1200px) {
  .mobile-first-width {
    width: 1200px;
  }
}

/* Fin du bloc page */
/*  Header générique pour toutes les pages du sites  */
header {
  text-align: center;
  position: relative;
  height: 75px;
}
header h1 {
  padding-top: 20px;
}
header .fas.fa-arrow-left {
  font-size: 30px;
  color: black;
  position: absolute;
  top: 20px;
  left: 20px;
}
header .fas.fa-arrow-left:hover {
  transform: scale(1.25);
  transition: 200ms;
}
header .logo {
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Fin du header générique  */
a {
  text-decoration: none;
  color: black;
}

img {
  width: 200px;
}

footer {
  background-color: #353535;
  height: 200px;
}
footer .h2-foot {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.3rem;
  padding: 20px;
}
footer .foot-li {
  padding-left: 20px;
  padding-bottom: 5px;
}
footer .foot-li .marg-text-foot-one {
  margin-left: 12px;
}
footer .foot-li .marg-text-foot-two {
  margin-left: 5px;
}
footer i, footer a, footer h2 {
  color: white;
}
footer i:hover, footer a:hover, footer h2:hover {
  color: red;
  cursor: pointer;
}

/* Version tablette et desktop */
@media all and (min-width: 426px) {
  .bloc-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bloc-one .title-sec-one {
    width: initial !important;
    padding-left: 0px !important;
  }
  .bloc-one .sous-title-sec-one {
    width: 90% !important;
  }

  .bloc-two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bloc-two ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #restaurant {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  #restaurant article {
    width: 80%;
  }
  #restaurant article:hover {
    transform: scale(1.05);
    transition: 300ms;
  }
  #restaurant img {
    width: 100%;
  }
}
@media all and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .ul-foot {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }
}
@media all and (min-width: 1200px) {
  main {
    height: 800px !important;
    position: relative;
  }

  #restaurant {
    flex-direction: row;
  }
  #restaurant .title-sec-tree {
    position: absolute;
    top: 0px;
    left: 500px;
  }
  #restaurant article {
    width: 45%;
    margin-top: 100px;
  }
}
/* Gestion de la page 1 */
/* LOADER */
.loader {
  animation: loader 4s cubic-bezier(0, 0, 0.13, -0.83);
}
@keyframes loader {
  1% {
    background: red;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.3;
  }
  95% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    z-index: 2;
  }
}

/* Formulaire de recherche */
form {
  height: 50px;
  background: #e1dddd;
  border-top: 2px solid #00000017 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
form .text-localisation {
  border: hidden;
  background: #e1dddd;
  font-size: 1rem;
  font-weight: bold;
}
form .fas.fa-map-marker-alt {
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 40px;
}

/* Fin du formulaire de recherche */
/* Gestion de la première section  */
.bloc-one {
  background: #f2f2f2;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.bloc-one div {
  text-align: center;
  margin-top: 20px;
}
.bloc-one div .title-sec-one {
  font-family: "Roboto";
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 55px;
  font-size: 1.6rem;
  font-weight: bold;
  width: 70%;
}
.bloc-one div .sous-title-sec-one {
  font-family: "Roboto";
  font-size: 1.2rem;
  padding-left: 40px;
  width: 80%;
}
.bloc-one div a {
  text-align: center;
}
.bloc-one div a span {
  display: inline-block;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 30px/30px;
  color: white;
  background: linear-gradient(to top, #9256dc, #ff79d9);
  box-shadow: 0px 0px 8px #00000069;
  padding: 15px 15px;
}
.bloc-one div a span:hover {
  transform: scale(1.15);
  transition-duration: 800ms;
  filter: brightness(1.2);
  box-shadow: 0px 0px 8px #00000069;
}

/* Fin de la 1ère section */
/* Création d'une extension pour la section 2  */
.card-fonctionnement, .bloc-two .li-sec {
  padding: 20px 40px;
  padding-left: 0px;
  margin-bottom: 20px;
  margin-left: 30px;
  background-color: #f4f4f4;
  box-shadow: 0px 5px 10px 0px rgba(194, 194, 194, 0.78);
  width: 330px;
  border-radius: 15px/15px;
}
.card-fonctionnement:hover, .bloc-two .li-sec:hover {
  background: #e4d5f6;
  cursor: pointer;
}

/* Début de la 2ème section */
.bloc-two .title-sec-two {
  font-family: "Roboto";
  font-size: 1.3rem;
  margin: 40px 0px 20px 20px;
  font-weight: bold;
}
.bloc-two .li-sec {
  position: relative;
}
.bloc-two .title-sec-fonc {
  font-family: "Roboto";
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-size: 1.3rem;
  font-weight: bold;
}
.bloc-two .fas.fa-mobile-alt, .bloc-two .fas.fa-list-ul, .bloc-two .fas.fa-store {
  padding: 0px 35px;
  padding-right: 20px;
  color: #939393;
  font-size: 20px;
}
.bloc-two .fas.fa-mobile-alt {
  padding-left: 40px;
}
.bloc-two .number-one-sec-two {
  position: absolute;
  left: -10px;
  color: white;
  padding: 5px 8px;
  border-radius: 50%;
  background-color: #9356DC;
}
.bloc-two .text-li-sec-two {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1rem;
}

/* Fin de la section 2 */
/* Main == BACKGROUND COLOR AND MARGING */
main {
  margin-top: 40px;
  height: 1220px;
  background: #f2f2f2;
}

/* Début section 3 */
.title-sec-tree {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: "Roboto";
  padding-top: 40px;
  padding-left: 20px;
}

article {
  position: relative;
  border-radius: 10px/10px;
  margin-left: 25px;
  margin-top: 20px;
  width: 375px;
  border: 1px solid #f2f2f2;
  background: white;
  height: 250px;
}
article img {
  width: 375px;
  border-radius: 10px/10px;
  height: 180px;
  object-fit: cover;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
article .green-new {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #278870;
  padding: 5px 10px;
  background: #99E2D0;
  border-radius: 5px/5px;
}
article .h3-sec-one {
  font-family: "Roboto";
  font-weight: bold;
  margin-left: 10px;
  font-size: 1rem;
  margin-top: 10px;
}
article .h3-sec-two {
  font-family: "Roboto";
  font-weight: bold;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 1rem;
}
article h4 {
  font-family: "Roboto";
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1rem;
}
article .far.fa-heart {
  font-size: 30px;
  color: red;
}
article .far.fa-heart:hover {
  content: "\f004";
  font-weight: bold;
  background-image: linear-gradient(45deg, red);
  transition-duration: 800ms;
  transform: rotate(360deg);
}
article .full-card-tp {
  position: absolute;
  font-size: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 1;
}
article .heart-active {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
article .heart-active:hover {
  color: rosybrown;
}

/* Fin de la première page  */

/*# sourceMappingURL=style.css.map */
