@charset "UTF-8";
/* IMPORT DE TOUTES LES FICHIERS SCSS DU PROJET */
/* IMPORT DES DIFFÉRENTES POLICES */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
/* IMPORT DES DIFFÉRENTES POLICES */
/* IMPORT DES FICHIERS SASS  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import '../../prefixed/style.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ol, li fieldset,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Mixin utilisé pour les h3 des article (index) */
/* Mixin utilisé pour les boutons  */
/* Gestion des Border ( Se référer à leurs fonctions) */
/* FIN Gestion des Border ( Se référer à leurs fonctions) */
/* Gestion des background : color ( Se référer à leur fonction ) */
/* Fin des background : color ( Se référer à leur fonction ) */
/* Gestion des couleurs des différentes icones page index ainsi que les chiffres  */
/* FIN Gestion des couleurs des différentes icones page index ainsi que les chiffres  */
/* Color et bakcground des bouton News */
/* FIN Color et bakcground des bouton News */
/* Gestion de la couleur des coeurs */
/* Gestion de la couleur des coeurs */
/* Gestion des box shadow ( Se réfèrer à sa fonction) */
/* Fin des box shadow ( Se réfèrer à sa fonction) */
/* LOADER  */
/* COLOR H2 LOADER */
/* SPIN ONE */
/* SPIN TWO */
/* Bloc-page all version */
/* Gestion du BODY en width 1200px ALL PAGE */
@media all and (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Fin du BODY en width 1200px ALL PAGE */
/* Gestion du Bloc_page ALL PAGE 425 > 426px and 1200  */
.bloc_page {
  width: auto;
}
@media all and (min-width: 320px) {
  .bloc_page {
    width: 320px;
  }
}
@media all and (min-width: 321px) {
  .bloc_page {
    width: auto;
  }
}

/* Fin du bloc page */
/*  Header générique pour toutes les pages du sites + ajout d'une flêche pour les pages "menus"  */
header {
  text-align: center;
  position: relative;
  height: auto;
}
header h1 {
  padding-top: 10px;
  padding-bottom: 5px;
  display: inline-block;
}
header .arrow-position {
  position: absolute;
  top: 13px;
  left: 20px;
}
header .fas.fa-arrow-left {
  font-size: 30px;
  color: black;
}
header .fas.fa-arrow-left:hover {
  transform: scale(1.25);
  transition: 200ms;
}

/* Fin du header générique  */
/* Gestion des lien et images du sites complet */
a {
  text-decoration: none;
}

img {
  width: 200px;
}

/* FIN Gestion des lien et images du sites complet */
/* Footer générique */
footer {
  background-color: #353535;
  height: 200px;
  /*FIN du footer générique */
}
footer h2 {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.3rem;
  padding: 20px;
}
footer li {
  padding-left: 20px;
  padding-bottom: 5px;
}
footer li .margin-one {
  margin-left: 12px;
}
footer li .margin-two {
  margin-left: 5px;
}
footer i, footer a, footer h2 {
  color: white;
  display: inline-block;
}
footer i:hover, footer a:hover, footer h2:hover {
  color: greenyellow;
  cursor: pointer;
}

/* LOADER  */
.loader {
  /* Configuration de la page temporaire pour le loader */
  animation: loader 3s cubic-bezier(0, 0, 0.13, -0.83);
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 0;
  /* Gestion du titre OHMYFOOD dans le LOADER */
  /* Gestion des propriétés affichant un cercle tournant */
  /* Gestion d'un second cercle tournant à l'intérieur du premier */
  /* Gestion du second cercle tournant */
  /* Gestion du premier cercle tournant */
  /* Gestion de la page temporaire */
}
.loader p {
  font-size: 30px;
  z-index: 100;
  position: fixed;
  color: transparent;
  font-family: "Comforter";
  font-weight: bold;
  top: 40px;
  text-align: center;
  z-index: 0;
  margin: auto;
  animation: h2_load 3.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  /* Keyframes mettant en fonction le H2 */
}
@keyframes h2_load {
  1% {
    color: red;
    z-index: 101;
  }
  10% {
    color: yellow;
    transform: translateX(50px);
  }
  20% {
    color: pink;
  }
  30% {
    color: white;
    transform: translateX(-50px);
  }
  40% {
    color: black;
  }
  50% {
    color: #6e6e6c;
    transform: scale(1.5);
    opacity: 0.7;
  }
  60% {
    color: peachpuff;
    transform: scale(1.6) translateX(0);
  }
  70% {
    color: #6c508b;
  }
  80% {
    color: royalblue;
  }
  90% {
    color: black;
  }
  100% {
    opacity: 0;
  }
}
.loader__spin {
  margin: auto;
  border-top: 4px solid #0F9DE8;
  border-right: 4px solid #F0C300;
  border-bottom: 4px solid #FF0000;
  border-left: 4px solid #800080;
  border-radius: 50%;
  top: -900px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 150px;
  height: 150px;
  opacity: 0;
  z-index: 0;
  animation: spin 3s;
}
.loader__spin_two {
  margin: auto;
  border-top: 4px solid #0f9ce8a2;
  border-right: 4px solid #00f0dc;
  border-bottom: 4px solid #ff00dd;
  border-left: 4px solid #6e6e6e;
  border-radius: 50%;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 75px;
  height: 75px;
  opacity: 0;
  animation: spin_two 3.5s;
}
@keyframes spin_two {
  1% {
    opacity: 1;
    transform: rotate(0deg) scale(1.3);
    z-index: 101;
  }
  100% {
    transform: rotate(720deg) scale(1);
    opacity: 0;
  }
}
@keyframes spin {
  1% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    z-index: 101;
  }
  100% {
    transform: rotate(360deg) scale(1.5);
    opacity: 0;
  }
}
@keyframes loader {
  1% {
    background: linear-gradient(to top, #9256dc, #ff79d9);
    z-index: 101;
    width: 100%;
    height: 100%;
  }
  15% {
    opacity: 1;
  }
  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.3;
  }
  95% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

/* Création d'une extension pour la section 2  */
.card-fonctionnement, .home .bloc-fonctionnement li {
  display: flex;
  padding: 20px 20px;
  padding-left: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #f4f4f4;
  box-shadow: 0px 5px 10px 0px rgba(194, 194, 194, 0.78);
  width: 80%;
  border-radius: 15px/15px;
}
.card-fonctionnement:hover, .home .bloc-fonctionnement li:hover {
  background: #e4d5f6;
  cursor: pointer;
}
@media all and (min-width: 500px) {
  .card-fonctionnement, .home .bloc-fonctionnement li {
    width: 330px;
  }
}

/* Animation des menus de cartes  */
.menus {
  /* Fin de l'animation des menus de cartes  */
}
.menus main {
  animation: 0.8s ease-in-out apparing-contenu-menus;
}
@keyframes apparing-contenu-menus {
  1% {
    opacity: 0.1;
    transform: scale(0.1);
  }
  50% {
    opacity: 0.2;
    transform: scale(0.1);
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.menus .item-one {
  animation: 2s ease-in-out apparing-contenu-plat_one 0.1s;
}
@keyframes apparing-contenu-plat_one {
  1% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menus .item-two {
  animation: 2s ease-in-out apparing-contenu-plat_two 0.2s;
}
@keyframes apparing-contenu-plat_two {
  1% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menus .item-tree {
  animation: 2s ease-in-out apparing-contenu-plat_tree 0.3s;
}
@keyframes apparing-contenu-plat_tree {
  1% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menus .item-four {
  animation: 2s ease-in-out apparing-contenu-plat_tree 0.4s;
}
@keyframes apparing-contenu-plat_tree {
  1% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heart-progress {
  1% {
    opacity: 0.2;
    transform: scale(0.3);
  }
  20% {
    opacity: 0.3;
    transform: scale(0.5);
  }
  40% {
    opacity: 0.5;
    transform: scale(0.7);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* IMPORT DES FICHIERS SASS  */
/* Gestion de la page 1 */
.home {
  transform: scale(1);
  /* Formulaire de recherche */
  /* Fin du formulaire de recherche */
  /* Gestion de la première section  */
  /* Fin de la 1ère section */
  /* Début de la 2ème section */
  /* Fin de la section 2 */
  /* Main == BACKGROUND COLOR AND MARGING */
  /* Début section 3 */
  /* Gestion du H2 de l'id RESTAURANT */
  /* Gestion de tout les articles de la page(index)  */
  /* Version tablette et desktop de l'index */
  /* Début du mediaqueries 426px */
  /* Fin de la section principal */
  /* Fin de la mediaqueries de 426px */
  /* Début de la mediaqueries de 768px */
  /* Fin du footer */
  /* Fin de la mediaqueries 768px */
  /* Début de la mediaqueries de 1200px */
  /* Fin de la mediaqueries de 1200px */
}
.home form {
  height: 50px;
  background: #e1dddd;
  border-top: solid 2px #00000017 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home form .text-localisation {
  border: hidden;
  background: #e1dddd;
  font-size: 1rem;
  font-weight: bold;
}
.home form .fas.fa-map-marker-alt {
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 40px;
}
.home .bloc-info {
  background: #f2f2f2;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.home .bloc-info div {
  text-align: center;
  margin-top: 20px;
}
.home .bloc-info div h2 {
  font-family: "Roboto";
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 55px;
  font-size: 1.6rem;
  font-weight: bold;
  width: 70%;
}
.home .bloc-info div h3 {
  font-family: "Roboto";
  font-size: 1.2rem;
  padding-left: 40px;
  width: 80%;
}
.home .bloc-info div a {
  text-align: center;
}
.home .bloc-info div a span {
  display: inline-block;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 30px/30px;
  color: white;
  background: linear-gradient(to top, #9256dc, #ff79d9);
  box-shadow: 0px 0px 8px #00000069;
  padding: 15px 15px;
}
.home .bloc-info div a span:hover {
  transform: scale(1.15);
  transition-duration: 800ms;
  filter: brightness(1.2);
  box-shadow: 0px 0px 8px #00000069;
}
.home .bloc-fonctionnement li {
  position: relative;
}
.home .bloc-fonctionnement h2 {
  font-family: "Roboto";
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-size: 1.3rem;
  font-weight: bold;
}
.home .bloc-fonctionnement .fas.fa-mobile-alt, .home .bloc-fonctionnement .fas.fa-list-ul, .home .bloc-fonctionnement .fas.fa-store {
  padding: 0px 35px;
  padding-right: 20px;
  color: #939393;
  font-size: 20px;
}
.home .bloc-fonctionnement .fas.fa-mobile-alt {
  padding-left: 40px;
}
.home .bloc-fonctionnement__number-one-sec-two {
  position: absolute;
  left: -10px;
  color: white;
  padding: 5px 8px;
  border-radius: 50%;
  background-color: #9356DC;
}
.home .bloc-fonctionnement span {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1rem;
}
.home main {
  margin-top: 40px;
  height: 1220px;
  background: #f4f4f4;
}
.home #restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home #restaurant h2 {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: "Roboto";
  padding-top: 40px;
  padding-left: 20px;
}
.home .article-one, .home .article-two {
  position: relative;
  border-radius: 10px/10px;
  margin-top: 20px;
  width: 90%;
  border: 1px solid #f4f4f4;
  background: white;
  height: 250px;
  /* Ajout de la mixin pour le h3 (valeur ajoutée dans les parenthèses (margin-top) */
  /* Fin de la mixin */
}
.home .article-one img, .home .article-two img {
  width: 100%;
  border-radius: 10px/10px;
  height: 180px;
  object-fit: cover;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.home .article-one span, .home .article-two span {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #278870;
  padding: 5px 10px;
  background: #99E2D0;
  border-radius: 5px/5px;
}
.home .article-one__text-h3-one, .home .article-two__text-h3-one {
  font-family: "Roboto";
  font-weight: bold;
  margin-left: 10px;
  font-size: 1rem;
  margin-top: 10px;
}
.home .article-one__text-h3-two, .home .article-two__text-h3-two {
  font-family: "Roboto";
  font-weight: bold;
  margin-left: 10px;
  font-size: 1rem;
  margin-top: 15px;
}
.home .article-one h4, .home .article-two h4 {
  font-family: "Roboto";
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1rem;
}
.home .article-one .fas.fa-heart, .home .article-two .fas.fa-heart {
  position: absolute;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0;
}
.home .article-one .fas.fa-heart:hover, .home .article-two .fas.fa-heart:hover {
  animation: 2s heart-progress forwards;
  -webkit-background-clip: text;
}
.home .article-one .far.fa-heart, .home .article-two .far.fa-heart {
  font-size: 30px;
  color: red;
}
.home .article-one__card-tp, .home .article-two__card-tp {
  position: absolute;
  font-size: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 1;
}
.home .article-one__heart-active, .home .article-two__heart-active {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.home .article-one__heart-active:hover, .home .article-two__heart-active:hover {
  color: rosybrown;
}
@media all and (min-width: 426px) {
  .home {
    /* Gestion de la section one  */
    /* Fin de la section one */
    /* Gestion de la section two  */
    /* Fin de la section two  */
    /* Début de la section principal */
  }
  .home .bloc-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home .bloc-info h2 {
    width: initial !important;
    padding-left: 0px !important;
  }
  .home .bloc-info h3 {
    width: 90% !important;
  }
  .home .bloc-fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home .bloc-fonctionnement h2 {
    padding-left: 0px !important;
  }
  .home .bloc-fonctionnement ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .home #restaurant {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .home #restaurant .article-one, .home #restaurant .article-two {
    width: 80%;
  }
  .home #restaurant .article-one:hover, .home #restaurant .article-two:hover {
    transform: scale(1.05);
    transition: 300ms;
  }
  .home #restaurant img {
    width: 100%;
  }
}
@media all and (min-width: 768px) {
  .home {
    /* Gestion du footer */
  }
  .home footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .home footer ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }
}
@media all and (min-width: 1200px) {
  .home {
    /* Début du main de la page */
    /* Début de la section restaurant */
    /* Fin du main */
  }
  .home main {
    height: 800px !important;
    position: relative;
  }
  .home #restaurant {
    flex-direction: row;
  }
  .home #restaurant h2 {
    position: absolute;
    top: 0px;
    left: 500px;
  }
  .home #restaurant .article-one, .home #restaurant .article-two {
    width: 45%;
    margin-top: 100px;
    margin-left: 40px;
  }
}

/* Fin de la première page  */
/* Début de la seconde page */
.menus {
  /* Début du main */
  /* Gestion des articles de la pages  */
  /* Fin de la gestion des articles */
  /* Gestion du Bouton commander */
  /* Fin du Bouton commander */
  /* Fin du Main */
  /* MQ PAGES MENUS */
  /* MQ de 768px */
  /* Fin de la MQ de 768px */
  /* Début de la MQ de 1200px  */
  /* Fin de la MQ de 1200px  */
}
.menus main {
  opacity: 1;
  /* Gestion de la section principal */
  /* Gestion de la div de la section principal */
  /* Fin du main */
}
.menus main .main__bloc {
  background-color: #f4f4f4;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  position: relative;
}
.menus main p img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.menus main div {
  position: relative;
  /* Fin de la div de la section principal */
}
.menus main div h2 {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  padding-top: 40px;
  padding-left: 20px;
}
.menus main div .fas.fa-heart {
  position: absolute;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0;
}
.menus main div .fas.fa-heart:hover {
  animation: 2s heart-progress forwards;
  -webkit-background-clip: text;
}
.menus main div .far.fa-heart {
  position: absolute;
  right: 30px;
  top: 40px;
  font-size: 30px;
  color: red;
}
.menus article h3 {
  font-family: "Roboto";
  font-size: 1rem;
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
.menus article ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.menus article li {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
  width: 80%;
  border-radius: 10px 10px;
  background: white;
  box-shadow: 2px 2px 9px #0000003b;
  font-family: "Roboto";
  font-size: 0.8rem;
}
.menus article li:hover {
  color: white;
  cursor: pointer;
  background: #03a9f4;
}
.menus article h4 {
  font-family: "Roboto";
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.menus article span {
  position: absolute;
  right: 15px;
  font-weight: bold;
}
.menus p {
  text-align: center;
}
.menus p .button-valid {
  display: inline-block;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 30px/30px;
  color: white;
  background: linear-gradient(to top, #9256dc, #ff79d9);
  box-shadow: 0px 0px 8px #00000069;
  padding: 15px 40px;
}
.menus p .button-valid:hover {
  transform: scale(1.15);
  transition-duration: 800ms;
  filter: brightness(1.2);
  box-shadow: 0px 0px 8px #00000069;
}
@media all and (min-width: 768px) {
  .menus {
    /* Gestion du footer */
    /* Fin du footer */
  }
  .menus footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .menus ul {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media all and (min-width: 1200px) {
  .menus {
    /* Gestion de la section principal */
    /* Fin de la section principal */
  }
  .menus section {
    display: flex;
    flex-direction: column;
  }
  .menus .li-article {
    width: 25% !important;
  }
}

/* Fin de la page Menus */

/*# sourceMappingURL=style.css.map */
