@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ol, li fieldset,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Bloc-page all version */
@media all and (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mobile-first-width {
  width: 425px;
}
@media all and (min-width: 426px) {
  .mobile-first-width {
    width: auto;
  }
}
@media all and (min-width: 1200px) {
  .mobile-first-width {
    width: 1200px;
  }
}

/* Fin du bloc page */
/*  Header générique pour toutes les pages du sites  */
header {
  text-align: center;
  position: relative;
  height: 75px;
}
header h1 {
  padding-top: 20px;
}
header .fas.fa-arrow-left {
  font-size: 30px;
  color: black;
  position: absolute;
  top: 20px;
  left: 20px;
}
header .fas.fa-arrow-left:hover {
  transform: scale(1.25);
  transition: 200ms;
}
header .logo {
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Fin du header générique  */
a {
  text-decoration: none;
  color: black;
}

img {
  width: 200px;
}

footer {
  background-color: #353535;
  height: 200px;
}
footer h2 {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.3rem;
  padding: 20px;
}
footer li {
  padding-left: 20px;
  padding-bottom: 5px;
}
footer li .marg-text-foot-one {
  margin-left: 12px;
}
footer i, footer a, footer h2 {
  color: white;
}
footer i:hover, footer a:hover, footer h2:hover {
  color: red;
  cursor: pointer;
}

@media all and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.ul-foot {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.foot-li {
  width: auto !important;
  padding-top: 30px;
}

@media all and (min-width: 1200px) {
  section {
    display: flex;
    flex-direction: column;
  }

  ul {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  li {
    width: 25% !important;
  }
}
main .bloc-main {
  background-color: #f4f4f4;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  position: relative;
}
main p img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

div {
  position: relative;
}
div h2 {
  font-family: "Shrikhand";
  font-size: 1.7rem;
  padding-top: 40px;
  padding-left: 20px;
}
div .far.fa-heart {
  position: absolute;
  right: 30px;
  top: 40px;
  font-size: 30px;
  color: red;
}
div .far.fa-heart:hover {
  content: "\f004";
  font-weight: bold;
  background-image: linear-gradient(45deg, red);
  cursor: pointer;
  transition-duration: 800ms;
  transform: rotate(360deg);
}

section h3 {
  font-family: "Roboto";
  font-size: 1rem;
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
section ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
section li {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
  width: 80%;
  border-radius: 10px 10px;
  background: white;
  box-shadow: 2px 2px 9px #0000003b;
  font-family: "Roboto";
  font-size: 0.9rem;
}
section h4 {
  font-family: "Roboto";
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
section span {
  position: absolute;
  right: 15px;
  font-weight: bold;
}

p {
  text-align: center;
}
p .button-valid {
  display: inline-block;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 30px/30px;
  color: white;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  padding: 15px 40px;
}
p .button-valid:active {
  transform: scale(1.15);
  transition-duration: 400ms;
}

/*# sourceMappingURL=menus.css.map */
