@charset "UTF-8";
/* IMPORT DES DIFFÉRENTES POLICES */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");
/* IMPORT DES DIFFÉRENTES POLICES */
/* IMPORT DES FICHIERS SASS  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ol, li fieldset,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Mixin utilisé pour les h3 des article (index) */
/* Mixin utilisé pour les boutons  */
/* Gestion des Border ( Se référer à leurs fonctions) */
/* FIN Gestion des Border ( Se référer à leurs fonctions) */
/* Gestion des background : color ( Se référer à leur fonction ) */
/* Fin des background : color ( Se référer à leur fonction ) */
/* Gestion des couleurs des différentes icones page index ainsi que les chiffres  */
/* FIN Gestion des couleurs des différentes icones page index ainsi que les chiffres  */
/* Color et bakcground des bouton News */
/* FIN Color et bakcground des bouton News */
/* Gestion de la couleur des coeurs */
/* Gestion de la couleur des coeurs */
/* Gestion des box shadow ( Se réfèrer à sa fonction) */
/* Fin des box shadow ( Se réfèrer à sa fonction) */
/* LOADER  */
/* COLOR H2 LOADER */
/* SPIN ONE */
/* SPIN TWO */
/* Bloc-page all version */
/* Gestion du BODY en width 1200px ALL PAGE */
@media all and (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Fin du BODY en width 1200px ALL PAGE */
/* Gestion du Bloc_page ALL PAGE 425 > 426px and 1200  */
.bloc_page {
  width: 425px;
}
@media all and (min-width: 426px) {
  .bloc_page {
    width: auto;
  }
}
@media all and (min-width: 1200px) {
  .bloc_page {
    width: 1200px;
  }
}

/* Fin du bloc page */
/*  Header générique pour toutes les pages du sites + ajout d'une flêche pour les pages "menus"  */
header {
  text-align: center;
  position: relative;
  height: 75px;
}
header h1 {
  padding-top: 10px;
  padding-bottom: 5px;
  display: inline-block;
}
header .fas.fa-arrow-left {
  font-size: 30px;
  color: black;
  position: absolute;
  top: 20px;
  left: 20px;
}
header .fas.fa-arrow-left:hover {
  transform: scale(1.25);
  transition: 200ms;
}

/* Fin du header générique  */
/* Gestion des lien et images du sites complet */
a {
  text-decoration: none;
}

img {
  width: 200px;
}

/* FIN Gestion des lien et images du sites complet */
/* Footer générique */
footer {
  background-color: #353535;
  height: 200px;
  /*FIN du footer générique */
}
footer h2 {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.3rem;
  padding: 20px;
}
footer li {
  padding-left: 20px;
  padding-bottom: 5px;
}
footer li__marg-text-foot-one {
  margin-left: 12px;
}
footer li__marg-text-foot-two {
  margin-left: 5px;
}
footer i, footer a, footer h2 {
  color: white;
}
footer i:hover, footer a:hover, footer h2:hover {
  color: red;
  cursor: pointer;
}

/* MQ PAGES MENUS */
/* MQ de 768px */
@media all and (min-width: 768px) {
  /* Gestion du footer */
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  ul {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  /* Fin du footer */
}
/* Fin de la MQ de 768px */
/* Début de la MQ de 1200px  */
@media all and (min-width: 1200px) {
  /* Gestion de la section principal */
  section {
    display: flex;
    flex-direction: column;
  }

  .li-article {
    width: 25% !important;
  }

  /* Fin de la section principal */
}
/* Fin de la MQ de 1200px  */
/* IMPORT DES FICHIERS SASS */
/* Début du main */
main {
  /* Gestion de la section principal */
  /* Gestion de la div de la section principal */
  /* Fin du main */
}
main__bloc {
  background-color: #f4f4f4;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  position: relative;
}
main p img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
main div {
  position: relative;
  /* Fin de la div de la section principal */
}
main div h2 {
  font-family: "Shrikhand";
  font-size: 1.7rem;
  padding-top: 40px;
  padding-left: 20px;
}
main div .far.fa-heart {
  position: absolute;
  right: 30px;
  top: 40px;
  font-size: 30px;
  color: red;
}
main div .far.fa-heart:hover {
  content: "\f004";
  font-weight: bold;
  background-color: red;
  cursor: pointer;
  transition-duration: 800ms;
  transform: rotate(360deg);
}

/* Gestion des articles de la pages  */
article h3 {
  font-family: "Roboto";
  font-size: 1rem;
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
article ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
article li {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
  width: 80%;
  border-radius: 10px 10px;
  background: white;
  box-shadow: 2px 2px 9px #0000003b;
  font-family: "Roboto";
  font-size: 0.9rem;
}
article li:hover {
  color: white;
  cursor: pointer;
  background: #03a9f4;
}
article h4 {
  font-family: "Roboto";
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
article span {
  position: absolute;
  right: 15px;
  font-weight: bold;
}

/* Fin de la gestion des articles */
/* Gestion du Bouton commander */
p {
  text-align: center;
}
p .button-valid {
  display: inline-block;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 30px/30px;
  color: white;
  background: linear-gradient(to top, #9256dc, #ff79d9);
  box-shadow: 0px 0px 8px #00000069;
  padding: 15px 40px;
}
p .button-valid:hover {
  transform: scale(1.15);
  transition-duration: 800ms;
  filter: brightness(1.2);
  box-shadow: 0px 0px 8px #00000069;
}

/* Fin du Bouton commander */
/* Fin du Main */
/* Fin de la page Menus */

/*# sourceMappingURL=menus.css.map */
